{% set id = advanced.identifier.id %}
{% set class = advanced.identifier.class %}

{# Timeline Data #}
{% set timelineItems = general.timeline_fields_group %}
{% set layout = general.layout_settings_fields_group.layout %}
{% set showConnector = general.layout_settings_fields_group.show_connector %}
{% set connectorStyle = general.layout_settings_fields_group.connector_style %}
{% set showPointers = general.layout_settings_fields_group.show_pointers %}

{# Wrapper Class #}
{% set classes = classNames(
    'qx-element qx-element-timeline',
    'qx-timeline-' ~ layout,
    'qx-timeline-' ~ connectorStyle,
    visibilityClass(visibility),
    class
) %}

{% set animation = advanced.animation_fields_group.animation %}
{% set animationRepeat = advanced.animation_fields_group.animation_repeat %}
{% set animationDelay = advanced.animation_fields_group.animation_delay %}
{% set background = advanced.background_fields_group.background %}
{# {{ styles | json_encode }} #}
{% embed "animation.twig" with {
    "id": id,
    "classes": classes,
    "animation": animation,
    "animationRepeat": animationRepeat,
    "animationDelay": animationDelay,
    "background": background
} %}
	{% block element %}
		<div class="timeline-wrapper qx-timeline-{{ layout }}">
			<div class="timeline qx-timeline-{{ connectorStyle }} {% if showConnector %}qx-timeline-connector{% endif %}">

				{% for item in timelineItems %}
					<div class="qx-timeline-item">

						{% if showPointers %}
							{# Icon #}
							{% if item.icon.type == "svg" %}
								<span class="qx-timeline-icon">
									{{ icon(item.icon.source) }}
								</span>
							{% else %}
								<span class="qx-timeline-icon">
									<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
									</svg>
								</span>
							{% endif %}
						{% endif %}

						{# Title #}
						<h2 class="qx-timeline-title">
							{{
								(
								"<span " ~
								inlineEditor("general.timeline_fields_group.title", loop.index0) ~
								">" ~
								item.title ~
								"</span>"
								) | raw
							}}
						</h2>

						<div class="qx-timeline-content">
							{# Date #}
							{% if item.date %}
								<time class="qx-timeline-date">
									{{
										(
											"<span " ~
											inlineEditor("general.timeline_fields_group.date", loop.index0) ~
											">" ~
											item.date ~
											"</span>"
										) | raw
										}}
								</time>
							{% endif %}

							{# Description #}
							<div class="qx-timeline-description">
								{{
									(
									"<div " ~
									inlineEditor("general.timeline_fields_group.description", loop.index0) ~
									">" ~
									item.description ~
									"</div>"
									) | raw
								}}
							</div>

							{# Image #}
							{% if item.image.source %}
								<div class="qx-timeline-image">

									{{ image(item.image.source, item.image.alt, '', '', item.image) | link(item.image) }}
								</div>
							{% endif %}
						</div>

					</div>
				{% endfor %}

			</div>
		</div>
	{% endblock %}
{% endembed %}
